.hero {
  background:#303030;
  padding:2em 0;
  margin-bottom:1em;
}
.hero * {
  color:#FFFFFF;
}
.hero h1 {
  color:#F9B92F;
}

.hero p {
  font-size: 1.2em;
}

.btn-primary {
  background:#F4B63F;
  border-color:#F4B63F;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover {
  background:#999;
  border-color:#999;
}

[v-cloak] {
  display: none;
}

h1 {
  text-align: center;
}

table {
  border:1px solid #ddd;
}

table thead {
  background:#F9B92F;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {opacity:0.75;}

table thead tr th, table thead tr td {
  color:#fff;
  font-weight:400;
  -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}
table thead tr th:hover, table thead tr th.sorting_asc, table thead tr th.sorting_desc, table thead tr td:hover, table thead tr td.sorting_asc, table thead tr td.sorting_desc {
  color:#222;
}

table thead tr th.sorting_disabled, table thead tr th.sorting_disabled:hover {
  color:#fff;
}

table tr td, table thead th {
  text-align:right;
}

table tr td.coin_title, table thead th.coin_title {
  text-align:left;
}
table tr td.rank {
  text-align:center;
  font-size:2em;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-width: 1px 1px 0 1px;
}

td img {
  width:18px;
}

td img.trend {
  width:120px;
}

@media only screen and (min-width:40em) { 
  td img {
    width: 25px;
  }
}



.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color:#F7B840;
  border-color:#F7B840;
}

.pagination>li>a, .pagination>li>span {
  color:#222;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  background-color:#222;
  height:20px;
  width:20px;
  line-height:135%;
  font-family:helvetica,arial,sans-serif;
}

table.dataTable>tbody>tr.child ul.dtr-details {
  text-align:center;
  display:block;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  background-color:#F7B840;
}